 @media (max-width:911px) {
     .header_area {
         height: 600px;
     }
     .logo_area {
         width: 100%;
         text-align: center;
         float: none;
     }
     .menu_area {
         width: 100%;
     }
     .header_logo_menu_area {
         height: 135px;
     }
     .menu_area ul {
         float: none;
         text-align: center;
     }
     .menu_area ul li {
         float: none;
         display: inline;
     }
     .header_content {
         padding: 249px 0px;
     }
     .header_content h2 {
         font-size: 50px;
         margin: 0px 0px;
     }
     .header_content h4 {
         font-size: 24px;
     }
     .header_content h3 {
         font-size: 28px;
     }
 }